@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

html {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	width: auto;
	background: linear-gradient(to left, #3e9fff, #401bc7);
}

body {
	margin: 4vh;
	user-select: none;
}

aside {
	background-color: aliceblue;
	border-radius: 1vh;
	padding-bottom: 1%;
}

aside.battery-section {
	float: left;
	margin-bottom: 1.5%;
    height: 910px;
	width: 89vh;
}

aside.wind-section {
	float: right;
	margin-bottom: 1.5%;
    height: 432px;
	width: 91vh;
}

aside.solarPanel-section {
	float: right;
	margin-bottom: 1.5%;
    height: 432px;
	width: 91vh;
}

.section-title {
	border-bottom: solid #a29d9d 0.1vh;
	padding: 2.5vh;
	font-weight: bold;
	text-align: center;
	font-size: 1.8vh;

}

.section-image {
	width: 5vh;
	height: 5vh;
	float: left;
	margin-top: -12px;
}


.battery-container {
	width: 10vh;
	height: 4.3vh;
	background-color: white;
	border: 0.3vh solid #a29d9d;
	border-radius: 1vh;
	position: relative;
	float: left;
	margin-top: -12px;
}

.battery-level {
	width: 5vh;
	height: 100%;
	border-radius: 0.75vh;
}

.battery-text {
	position: absolute;
	top: 50%;
	left: 5vh;
	transform: translate(-2.5vh, -1.75vh);
	color: rgb(61, 61, 61);
	font-size: 3vh;
	font-weight: bold;
}

.data-value {
	justify-content: center;
	min-width: 6vh;
	display: inline-flex;
	padding: 1.5vh 1vh;
	color: rgb(61, 61, 61);
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	background-color: white;
	border-radius: 1vh;
	font-size: 1.75vh;
	font-weight: bold;
	margin-bottom: 35px;
}

.data-value2 {
	color: #2b96e7;
	justify-content: center;
	min-width: 6vh;
	display: inline-flex;
	padding: 1.5vh 1vh;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	background-color: white;
	border-radius: 1vh;
	font-size: 1.75vh;
	font-weight: bold;
	margin-bottom: 35px;
}

.data-value3 {
	color: #23d99c;
	justify-content: center;
	min-width: 6vh;
	display: inline-flex;
	padding: 1.5vh 1vh;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	background-color: white;
	border-radius: 1vh;
	font-size: 1.75vh;
	font-weight: bold;
	margin-bottom: 35px;
	margin-left: 1vh;
}

.data-label {
	font-size: 2vh;
	margin-top: 70px;
}

.data-label1 {
	font-size: 2vh;
}

.data-container {
	float: left;
	margin-left: 1vh;

}

.chart-container {
	float: right;
}

.graph-eolienne {
	margin-bottom: -100px;
}

.graph-pv {
	margin-bottom: -100px;
}